
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Main Footer -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
        刘 迪
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2019 - @System.DateTime.Now.Year.ToString() <a href="#" style="display:none;">Liu Di</a>.</strong> All rights reserved.
</footer>